<div id="dock" class="dock">
    <button id="home" class="dock-btn" aria-label="home">
      <svg viewBox="0 0 24 24"><path d="M3 9.5L12 3l9 6.5V21a1 1 0 0 1-1 1h-5v-7H9v7H4a1 1 0 0 1-1-1z"/></svg>
    </button>

    <button id="search" class="dock-btn" aria-label="search">
      <svg viewBox="0 0 24 24"><path d="M10 2a8 8 0 0 1 6.32 12.906l4.387 4.387-1.414 1.414-4.387-4.387A8 8 0 1 1 10 2z"/></svg>
    </button>
   
		<button id="add" class="dock-btn dock-btn--wide" aria-label="add">
			<svg viewBox="0 0 24 24">
					<path d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
			</svg>
		</button>

		
		<button id="up" class="dock-btn" aria-label="up">
			<svg viewBox="0 0 24 24">
				<path d="M12 16 V6 M12 6 L8 10 M12 6 L16 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</button>

		<button id="down" class="dock-btn" aria-label="down">
			<svg viewBox="0 0 24 24">
				<path d="M12 8 V18 M12 18 L8 14 M12 18 L16 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</button>


</div>
