<!-- index.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="scroll-restoration" content="manual">
  <title>Haysyn Anon</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
	<script src="/static/script.js?v=4" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
<script>
  smoothscroll.polyfill();
</script>


</head>
<body>
  {% include "header.html" %}
  <main id="feed"></main>
  {% include "dock.html" %}

    <!-- Modal -->
  <div id="overlay">
    <div id="modal">
      <button onclick="submitPost()">💬 Надіслати</button>
      <input type="text" id="postTitle" placeholder="Заголовок поста (обов'язково)" />
      <div id="titleError" class="error"></div>
      <textarea id="postText" placeholder="Текст поста..." oninput="autoGrow(this)"></textarea>

      
    </div>
  </div>

  <!-- Confirmation Modal -->
  <div id="confirmationOverlay">
    <div id="confirmationModal">
      <p id="confirmationText">Ваш пост скоро буде в ленті</p>
    </div>
  </div>

</body>
</html>
