<!DOCTYPE html>
<html lang="uk">
<head>
	<title>Haysyn Anon</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/style.css?v=5">
  <link rel="stylesheet" href="/static/post.css?v=6">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
	<script src="/static/post.js?v=4" defer></script>
</head>
<body>

	<header>
		<div class = "header-elements-holder">
			<a href="{{ '/' if not is_homepage else '/contacts'}}" 
				 style="text-decoration: none; color: inherit; font-weight: bold;">
				Haysyn Anon
			</a>
		</div>
	</header>
	<div id ="test">
		<main id="feed">
		<div id="post-container"></div>

		<!-- ✅ поле для написання коментаря буде саме тут -->
		<div id="comment-form-container"></div>

		<h2 id="comments-title">Comments</h2>
		<div id="comments-container"></div>
	</div>

  {% include "dock-post.html" %}
</main> 
  
</body>
</html>
